@media screen and (max-width: 740px) {
 .chat-view {
    flex-direction: column-reverse;
  }
 .chat-view aside {
    width: 100% !important;
    flex-direction: row;
  }
 .chat-view aside header {
    display: none;
  }
 .chat-view aside vaadin-tabs {
    flex: 1 1 auto;
    overflow: auto;
  }
 .chat-view aside vaadin-tabs vaadin-tab.justify-between {
    justify-content: flex-start;
  }
}
